@CHARSET "UTF-8";

h1, h2 {
	color: white;
}

#cartlist_div {
	width: 100%;
	height: auto;
	background-color: gray;
}

#cartlist_main_div {
	width: 93%;
	height: auto;
	margin: 0 auto;
}

#cartlist_contents_div {
	width: 93%;
	height: auto;
	margin: 0 auto;
}

#empty_cart_img_div {
	width: 35%;
	height: 300px;
	float: green;
}

#empty_cart_info_div {
	width: 35%;
	height: 300px;
	float: blue;
}

#cart_musiclist_div {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

#cart_albumlist_div {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

#cart_totalprice_div {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

#cartlist_recommend_div {
	width: 93%;
	height: 900px;
	margin: 0 auto;
	margin-top: 50px;
}

#recommend_title_div {
	width: 100%;
	height: 35px;
}

#h2_1 {
	margin-bottom: 0;
}

#recommend_list_div {
	width: 100%;
	height: auto;
}

#table_4 {
	width: 100%;
	height: 100%;
	border-spacing: 0px;
	border-collapse: collapse;	
}

#tr_id_1 {
	background-color: gray;
	border-top: 1.5px solid #494949;
}

.tr_class_1 {
	height: 40px;
	color: white;
	background-color: #494949;
	border-spacing: 5px;
	font-size: 13px;
	font-weight: bold;
}


.td_class_1 {
	width: 12.5%;
}

.td_class_2 {
	width: 7%;
}

.td_class_3 {
	width: 4%;
}

.td_class_4 {
	width: 17%;
	color: white;
}

.td_class_5 {
	width: 12.5%;
	font-weight: normal;
	color: #a6a6a6;
}

.td_class_6 {
	width: 17%;
	font-weight: normal;
	color: #a6a6a6;
}

.td_class_7 {
 	width: 8%;	
}

.td_class_8 {
 	width: 8%;
 	font-weight: normal;
	color: #a6a6a6;	
}


#td_id_1 {
	text-align: center;
	font-size: 15px;
}

.a_tag_1 {
	color: #39c1de;
	text-decoration: none;
	font-weight: bold;
}

.a_tag_1:HOVER {
	text-decoration: underline;
}

.img_1 {
	width: 100%;
	height: 40px;
}

.imgbtn {
	width: 35px;
	height: 30px;
	margin: 0 auto;
	margin-left: 5px;
}

.price_cart_add_4 {
	width: 100%;
	height: 90%;
	color: white;
	font-size: 16px;
	background-color: #ff4dff;
	border: 1px solid #ff4dff;
	-webkit-border-radius: 6px;
	outline: none;
}
