<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PaymentMapper">
	<!-- 결제 부분 저장 -->
	<insert id="paymentAdd" parameterType="com.you.payment.PaymentDTO">
		<![CDATA[
			insert into payment values
			(payment_seq.nextval, #{pid}, #{pprice}, sysdate,
			#{pcategory}, #{pcategorynum}, #{pcardtype}, #{pname})
		]]>	
	</insert>
	
	<!-- 장바구니 등록하기전에 존재하는지 알아보기 위한 리스트 가져오기 - 아이디,카테고리-->
	<select id="paymentList" parameterType="com.you.payment.PaymentDTO"
		resultType="com.you.payment.PaymentDTO">
		<![CDATA[
			select * from payment where pid=#{pid} 
			and pcategory=#{pcategory}
		]]>	
	</select>
</mapper>