@CHARSET "UTF-8";
#body{
	width: 100%;
	background-color: gray;
	font-size: 10px;
}
#t{
 	margin: 0 auto;
	width: 90%;
}	
td{
 	border: 1px red solid;
}
.side{
	width: 30%; 
}
#maint1_1{
	width: 100%;
	height: 500px;
}
.tname{
	height: 30px;
}
#t1_s{
	width: 70%;
}
.mainT_l{
	width: 100%;
	height: 500px;
}
.mainT_l tr td{
	width: 20%;
}
.maint_s{
	width: 100%; 
	height: 1000px;
}
.s_t1{
	width: 10%; 
}
.s_t2{ 
	width: 70%;
	position: relative;
}
.price{
	border: red 1px solid;
	width: 20%;
	display: none;
	position: absolute;
	right: 0px;
	top: 40%;
	margin-right: 10px;
}
.objectT{
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}
.objectT_1{
	height: 65%; 
	position: relative;
}
.object_price{
	position: absolute;
	width: 100%;
	display: none;
	bottom: 0px;
	border: 1px red solid;
}